/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.shared-element,
[style*='--transition-tag'] {
	contain: paint;
	page-transition-tag: var(--transition-tag);
}
